*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "inter", serif, sans-serif;
    scroll-behavior: smooth;
}
li{
    list-style: none;
}
/* Variables */
:root{
    font-size: 62.5%;
    --cardinGreen: #013A20;
    --white: #FFFFFF;
    --brightGreen: #56CD05;
    --cocoaBrown: #1E1514;
    --cream: #ECD5BB;
    --malachite: #06F549;
}
body{
    overflow-x: hidden;
}
header{
    width: 100%;
    height: 80px;
    padding: 30px 10%;
    background-color: var(--cardinGreen);
    display: flex;
    justify-content: space-between;
    align-items: center;  
    position: fixed;
    z-index: 1000;
}
.logo{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    transition: all 0.8s ease-in-out;
    margin: 0 1rem;
    flex-shrink: 0;
}
.logo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
}
.logo:hover{
    transform: scale(1.1);
    box-shadow: 0 0 80px 3px #62f458;
    background-color: var(--white);
}
nav ul li{
    display: inline-block;
    padding: 0 2rem;    
}
.links{
    align-items: center;
}
a{
    color: var(--white);
    font-size: clamp(16px, 2vw, 26px);
    text-decoration: none;
    cursor: pointer;
    position: relative;
}
header ul li a::before{
    content: "";
    width: 0;
    height: 5px;
    position: absolute;
    top: 120%;
    left: 0;
    background-color: var(--white);
    transition: all 0.5s;
}
header ul li a::after{
    content: "";
    width: 0;
    height: 5px;
    position: absolute;
    top: 120%;
    right: 0;
    background-color: var(--brightGreen);
    transition: all 0.5s;
}
ul li a:hover:before{
    width: 50%;
    transform: translateX(100%);
}
ul li a:hover:after{
    width: 50%;
    transform: translateX(-100%);
}
button, #readStoriesBtn{
    background-color: var(--cardinGreen);
    color: var(--white);
    font-size: clamp(16px, 2vw, 30px);
    padding: 0.5rem 1.5rem;
    border: 2px solid white;
    border-radius: 1.5rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
button:hover{
    background-color: var(--white);
    color: var(--cardinGreen);
    border: 2px solid var(--cardinGreen);
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;  
}
.videoContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    width: 100%;
    height: 100%;
    padding-top: 80px;
    overflow-x: hidden;
}
.videoContainer iframe{
    margin: 0 auto;
    width: 100%;
    height: 80vh;
    object-fit: cover;
    overflow-x: hidden;
}
.inspirationalStories{

}
.inspirationalStories h1{
    color: var(--cocoaBrown);
    font-size: 3rem;
    text-align: center;
}
.inspirationalStories a{
    color: var(--cocoaBrown);
    text-decoration: none;
}
.stories{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 5rem;
}
.card{
    width: 500px;
    height: 350px;
    background-color: var(--cocoaBrown);
    position: relative;
    margin: 20px;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
    cursor: pointer;
}
.content{
    position: absolute;
    width: 80%;
    height: 80px;
    overflow: hidden;
    bottom: 0;
    left: 10%;
    background-color: var(--white);
    text-align: center;
    transition: 0.5s;
}
.content h3{
    font-size: 2rem;
    margin: 25px;
}
.content p{
    width: 80%;
    margin: 10px auto;
    font-size: 1.6rem;
    opacity: 0;
    transition: 0.5s;
}
.card:hover .content{
    width: 100%;
    height: 100%;
    left: 0%;
}
.card:hover p{
    opacity: 1;
    transition-delay: 0.5s;
}
.content a{
    color: var(--cardinGreen);
}
.card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
}
.card:hover img{
    opacity: 0;
}
.joinUs{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 50px;
}
.headingJoin{
    font-size: 3rem;
    padding: 2rem;
    margin-bottom: 3rem;
}
.joinUsContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;   
}
.leftText, .imgRight{
    width: 500px;
    height: 500px;
}
.leftText{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.leftText p{
    font-size: 2rem;
    padding: 2rem;
    margin: 3rem;
}
.imgRight img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
}

.carousel{
    overflow: hidden;
}
.carousel figure{
    position: relative;
    width: 500%;
    height: auto;
    margin: 0;
    left: 0;
    animation: 15s slider infinite;
}
.carousel figure img{
    width: 20%;
    height: 100%;
    float: left;
    object-fit: cover;
}
@keyframes slider{
    0%{
        left: 0;
    }
    20%{
        left: 0;
    }
    25%{
        left: -100%;
    }
    45%{
        left: -100%;
    }
    50%{
        left: -200%;
    }
    70%{
        left: -200%;
    }
    75%{
        left: -300%;
    }
    95%{
        left: -300%;
    }
    100%{
        left: -400%;
    }
}
.trainingSection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.trainingSection h2{
    font-size: 3rem;
    margin-top: 4rem;
}
.trainingLinks{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 90%;
    margin: 10px auto;
}
.trainingCard{
    width: 280px;
    height: 160px;
    position: relative;
    overflow: hidden;
    transform: all 0.5s ease-in;
    margin: 4rem;
    border-radius: 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.trainingCard img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: all 0.5s ease-in;
}
.trainingContent{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    opacity: 0;
    background: rgba(0, 0, 0, 0);
    transform: all 0.5s ease-in;
}
.trainingContent p{
    font-size: 1.6rem;
    color: white;
    padding: 5% 10%;
}
.trainingContent button{
    font-size: 1.6rem;
}
.trainingCard:hover .trainingContent{
    opacity: 1;
    background: rgba(0, 0, 0, 0.8);
}
.trainingCard:hover img{
    transform: scale(1.3) rotate(10deg);
}
.subscribeSection{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3rem 0;
}
.formVideoContainer{
    width: 40rem;
    height: 40rem;  
    padding: 0; 
    overflow: hidden;
    margin: 0;
}
.formVideoContainer img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    margin: 0;
}
.formContainer{
    width: 60rem;
    height: 50rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--cream);
    margin: 0;
    position: relative;
}
.formContainer h2{
    padding: 4rem;
    font-size: 3rem;
    position: absolute;
    top: 5%;
}
.formContainer form{
    position: relative;
    width: 60%;
    margin-top: 30px;
}

.inputBox{
    position: relative;
    width: 100%;
}
.inputValue{
    width: 100%;
    height: 40px;
    margin: 10px 0;
    padding: 3rem;
    border-radius: 5px;
    font-size: 3rem;
    outline: none;
    border: 2px solid var(--cardinGreen);
    transition: all 0.6s;
}
.inputBox label{
    font-size: 2rem;
    position: absolute;
    left: 15px;
    top:15px;
    transition: all 0.6s;
}

.inputValue:focus ~ label,
.inputValue:not(:placeholder-shown).inputValue:not(:focus) ~ label
{
    color: var(--white);
    font-size: 1.5rem;
    top: 4px;
    background-color: var(--cardinGreen);
    padding: 0 5px;
    letter-spacing: 0.2rem; 
}
.inputBox input:focus{
    border-color: var(--brightGreen);
}
.formBtn{
    background-color: var(--cardinGreen);
    color: var(--white);
    width: 16rem;
    font-size: clamp(16px, 2vw, 30px);
    padding: 0.5rem 1.5rem;
    border: 2px solid white;
    border-radius: 1.5rem;
    margin: 10px 100px 0;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.formBtn:hover{
    background-color: var(--white);
    color: var(--cardinGreen);
    border: 2px solid var(--cardinGreen);
}
.bottomTrees{
    width: 100vw;
    height: auto;
    margin-bottom: -5px;
}
.bottomTrees img{
    width: 100%;
    height: 100%;
}
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--cocoaBrown);
    width: 100%;
    height: 15rem;
    bottom: 0;
}
.footerLinks{
    display: flex;
    flex-direction: row;   
}
footer ul li a{
        color: var(--white);
        font-size: clamp(16px, 1.5vw, 20px);
        text-decoration: none;
        cursor: pointer;
        position: relative;
        padding: 0 4rem;
}
.footerLogo{
    width: 13rem;
    height: 13rem;
    flex-shrink: 0;
}
.footerLogo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.5s ease-in-out;
    border-radius: 50%;
}
.footerLogo img:hover{
    transform: scale(1.1);
    box-shadow: 0 0 80px 3px #62f458;
    background-color: var(--white);
}
nav img{
    display: none;
}

@media only screen and (max-width: 910px) {
    header{
        /* display: flex;
        justify-content: space-between;
        align-items: center; */
    }
    .logo{
        position: absolute;
        left: 50%;
        right: 50%;
        top: 0;
    }
    nav ul{
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        height: 100vh;
        background-color: var(--cardinGreen);
        padding: 6rem;
        transition: all 0.5s ease-in-out;
     }
    nav ul li, .loginBtn{
        display: block;
        text-align: center;
        margin: 50px;
        border-bottom: 2px solid var(--white);
     }
     nav ul li a{
        box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
     }
     nav img{
        display: block;
        width: 30px;
        cursor: pointer;
        }
    nav ul img{
        position: absolute;
        top: 30px;
        left: 30px;
    }
    .loginBtn{
        position: absolute;
        top: -30px;
        right: 1px;
    }
}

@media only screen and (max-width: 768px){
    footer{
        display: flex;
        flex-direction: column;
        height: auto;
        position: relative;
        bottom: 0;
    }
    .footerLinks li {
        padding: 2rem 0;
    }
    .footerLinks{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .footerLogo{
        order: -1;
    }
}


/* ----------------------Take Action Page Styling----------------------
-------------------------------------------------------------------- */
.volunteer{
    padding-top: 12rem;
}
.volunteer h1, .intern h1{
    font-size: 4rem;
    text-align: center;
    color: var(--cocoaBrown);
}
.volunteerCards, .internCards{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
}
.volunteerCard, .internCard{
    width: 300px;
    height: 400px;
    position: relative;
    overflow: hidden;
    margin: 2rem;
    cursor: pointer;
 
}
.volunteerCard img, .internCard img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.volunteerContent, .internContent{
    width: 100%;
    height: 70px;
    position: absolute;
    background-color: var(--cardinGreen);
    bottom: 0;
    transition: all 0.3s ease-in;
}
.volunteerContent h3, .internCard h3{
    font-size: 3rem;
    color: var(--white);
    text-align: center;
    padding: 1.3rem;
}
.volunteerContent p, button{
    font-size: 2rem;
    visibility: hidden;
    opacity: 0;
    text-align: center;
}
.internContent p, button{
    font-size: 2rem;
    visibility: hidden;
    opacity: 0;
    text-align: center;
}
.volunteerBtn{
    margin-left: 8rem;
    text-align: center;
    margin-top: 2rem;
}
.volunteerCard:hover .volunteerContent{
    height: 50%;
    background-color: var(--cocoaBrown);
}
.volunteerCard:hover p, button{
    visibility: visible;
    opacity: 1;
    color: var(--white);
}
.intern{
    padding-top: 9rem;
}
.internCard:hover .internContent{
    height: 50%;
    background-color: var(--cocoaBrown);
}
.internCard:hover p, button{
    visibility: visible;
    opacity: 1;
    color: var(--white);
}
.communityServices{
    padding-top: 9rem;
    padding-bottom: 5rem;
}
.communityServices h2{
    text-align: center;
    font-size: 4rem;
    color: var(--cocoaBrown);
}
.communityCards{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.communityCard{
    width: 250px;
    height: 300px;
    border: 4px solid var(--malachite);
    border-radius: 20px;
    margin: 30px;
    filter: grayscale(1);
    cursor: pointer;
}
.communityCard p{
    font-size: 2rem;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 10px;
    font-weight: 500;
    color: gray;
    
}
.communityCard img{
    width: 100%;
    height: 70%;
    object-fit: contain;
    opacity: 1;
    filter:grayscale(1);
    transition: filter 0.3s;
}

.communityCard:hover img{
    filter: grayscale(0);
}
.communityCard:hover p{
    color: var(--brightGreen);
    filter:grayscale(0);
}
.communityCard:hover{
    filter: grayscale(0);
}

/* ----------------------About Us Page Styling----------------------
-------------------------------------------------------------------- */
/* body{
    perspective: 10px;
    overflow-x: hidden;
    height: 100vh;
    overflow-y: auto;
}
.aboutSection{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    
    overflow: hidden;
}

.aboutBg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}
    
.aboutSection h1, p{
    color: var(--white);
    font-size: 4rem;
    z-index: 1;
} */

.aboutContent{
    width: 100%;
    min-height: 100vh;
    background-image: url(images/about.jpg);
    background-size: 100% 100%;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.about{
    width: 600px;
    background: rgba( 255, 255, 255, 0.4 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.about h1{
    color: var(--cocoaBrown);
    padding: 10px;
    text-align: center;
    font-size: 4rem;
}
.about p{
    padding: 0 30px 30px;
    font-size: 3rem;
    text-align: center;
    font-weight: 600;
    word-spacing: 1px;
    line-height: 40px;
    color: var(--cocoaBrown);
} 
.missionContent{
    width: 100%;
    min-height: 600px;
    background-image: url(images/big\ leaf.jpg);
    background-size: 100% 100%;
    background-attachment: fixed;   /*remember to remove fixed and make it scroll in mobile*/
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.mission{
    background: rgba( 255, 255, 255, 0.03 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    padding: 3rem 0;
}
.missionContent h1{
    color: var(--cocoaBrown);
    padding: 10px;
    text-align: center;
    font-size: 4rem;
}

.missionContent p{
    padding: 0 30px 30px;
    font-size: 3rem;
    color: var(--cocoaBrown);
}
.ourTeam{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4rem 0;
}
.teamHeading{
    text-align: center;
    font-size: 4rem;
    color: var(--cocoaBrown);
}
.teamCards{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 70%;
}
.teamCard{
    width: 300px;
    height: 400px;
    margin: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-self: flex-start;
    border-inline-start: 5px solid;
    border-block-end: 5px solid;
    border-image-source: radial-gradient(circle at bottom left, var(--malachite), transparent 50%);
    border-image-slice: 1;
    padding: 10px;
    transition: all 0.6s ease-in-out;
    cursor: pointer;
}
.teamCard:hover{
    border-image-source: radial-gradient(circle at bottom left, var(--malachite), transparent 80%);
}
.teamContent{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.teamCard img{
    width: 60%;
    height: 200px;
    object-fit: cover;
}
.teamContent h3{
    font-size: 2.5rem;
    padding: 1.5rem;
    color: var(--cocoaBrown);
}
.teamContent p{
    font-size: 2rem;
    padding: 0 0 1rem;
    text-align: center;
    color: var(--cocoaBrown);
}

/* ----------------------Inspirational stories Page Styling------------
-------------------------------------------------------------------- */
.inspirationalStories{
    padding-top: 100px;
    color: var(--cocoaBrown);
    text-align: center;
    font-size: 4rem;
    padding-bottom: 40px;
}
.story{
    padding-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--cardinGreen);
    margin-bottom: 100px;
}
.story h3{
    color: var(--white);
    font-size: 2.5rem;
    padding: 10px;
}
.storyContent{
    width: 60%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.storyContent p{
    color: var(--white);
    font-size: 2rem;
    padding: 5px 50px;
    width: 700px;
   
}
.imgContainer{
    position: relative;
    width: 500px;
    height: 500px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    
}
.imgContainer img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 70px;
    right: 0;
    z-index: 100;
    pointer-events: none;
    border-inline: 3px solid var(--white);
    border-block-start: 3px solid var(--white);
    border-block-end: 3px solid var(--cardinGreen);
    border-radius: 10px;
}


/* ----------------------Donation Page Styling-----------------------
-------------------------------------------------------------------- */
.donationForm{
    width: 100vw;
    height: 100vh;
    background-image:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("images/bgwaterbody2.gif");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.youCanHelp{
    padding-top: 100px;
    color: var(--cocoaBrown);
    font-size: 4rem;
    text-align: center;
}
.helpDonate{
    display: flex;
    justify-content: center;
    align-items: center;
}
.helpDonateContainer{
    margin-top: 40px;
    width: 70%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.helpContainer1{
    position: relative;
    width: 500px;
    height: 500px;
    overflow: hidden;
    margin-top: 100px;
}
.layer{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}
.layer:nth-child(1){
    background-image:url("images/donate4.jpg");
    width: 80%;
    height: 100%;
}
.layer:nth-child(2){
    background-image:url("images/donateRemove.png");
    top: 100px;
    left: 200px;
    width: 300px;
    height: 300px;
}
.layer:nth-child(3){
    background-image:url("images/donate 2.jpg");
    top: 400px;
    left: 0;
    width: 100%;
    height: 100px;
}
.helpDonateContent{
    width: 500px;
}
.helpDonateContent p{
    font-size: 3rem;
    color: var(--cocoaBrown);
    text-align: left;
    padding: 0 0 30px 0;
}



.helpContainer2{
    position: relative;
    width: 500px;
    height: 500px;
    overflow: hidden;
    margin-top: 100px;
}
.layer2{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}
.layer2:nth-child(1){
    background-image:url("images/trainbg2.png");
    width: 100%;
    height: 40%;
}
.layer2:nth-child(2){
    background-image:url("images/train3.jpg");
    top: 200px;
    left: 200px;
    width: 80px;
    height: 80px;
    z-index: -1;
}
.layer2:nth-child(3){
    background-image:url("images/trainbg1.png");
    top: 200px;
    left: 0;
    width: 100%;
    height: 40%;
}
.helpDonateContent{
    width: 500px;
}
.helpDonateContent p{
    font-size: 3rem;
    color: var(--cocoaBrown);
    text-align: left;
    padding: 0 0 30px 0;
}

hr{
    border: 5px solid var(--cardinGreen);
    margin: 10px;
}

.emergency{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 600px;
    height: 400px;
    margin: 20px auto;
    border-radius: 50px;
    background: #e0e0e0;
    box-shadow: inset 29px 29px 58px #bebebe,
                inset -29px -29px 58px #ffffff;
}
.emergency h3, .querries h3{
    font-size: 2.5rem;
}
.emergency ul li{
    list-style-type: numbers; 
    font-size: 2rem;
}

.querries{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 600px;
    height: 200px;
    margin: 20px auto;
    border-radius: 50px;
    background: #e0e0e0;
    box-shadow: inset 29px 29px 58px #bebebe,
                inset -29px -29px 58px #ffffff;
}
.joinUsToday{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 600px;
    height: 400px;
    margin: 20px auto;
    border-radius: 50px;
    background: #e0e0e0;
    box-shadow: inset 29px 29px 58px #bebebe,
                inset -29px -29px 58px #ffffff;
}
.joinUsToday p{
    font-size: 2.5rem;
    text-align: center;
}
.helpBtns{
    background-color: var(--cardinGreen);
    color: var(--white);
    font-size: clamp(16px, 2vw, 30px);
    padding: 0.5rem 1.5rem;
    margin-top: 10px;
    border: 2px solid white;
    border-radius: 1.5rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.helpBtns:hover{
    background-color: var(--white);
    color: var(--cardinGreen);
    border: 2px solid var(--cardinGreen);
}


/* ----------------------Learning centre Page Styling-----------------------
-------------------------------------------------------------------- */

.learningCentre{
    text-align: center;
    font-size: 4rem;
    padding-top: 100px;
    color: var(--cardinGreen);
}
.learningSection{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
}
.leftContentLearning{
    width: 400px;
}
.leftContentLearning h3{
    font-size: 2.5rem;
    color: var(--cardinGreen);
    padding: 20px 0;
}
.leftContentLearning p{
    font-size: 2rem;
    color: var(--cardinGreen);
    padding-bottom: 20px;
    line-height: 30px;
}
.rightVideoLearning{
    width: 400px;
    height: 250px;
    
}
.rightVideoLearning video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
}
.leftContentLearning a{
    background-color: var(--cardinGreen);
    color: var(--white);
    font-size: clamp(10px, 1vw, 20px);
    padding: 0.5rem 1.5rem;
    border: 2px solid white;
    border-radius: 1.5rem;
    cursor: pointer;
    text-align: center;
    transition: all 0.3s ease-in-out;
}
.leftContentLearning a:hover{
    background-color: var(--white);
    color: var(--cardinGreen);
    border: 2px solid var(--cardinGreen);
}
.imageCarousel{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #1E1514;
}
.box{
    position: relative;
    width: 200px;
    height: 200px;
    transform-style: preserve-3d;
    animation: animate 30s linear infinite;
}
@keyframes animate{
    0%{
        transform: perspective(1000px) rotateY(0deg);
    }
    100%{
        transform: perspective(1000px) rotateY(360deg);
    }   
}

.box span{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: center;
    transform-style: preserve-3d;
    transform: rotateY(calc(var(--i)*45deg)) translateZ(400px);
}
.box span img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
    transition: all 1s ease-in-out;
}
.box span:hover img{
    transform: translateY(-50px) scale(1.3);
}



.trainingHeading{
    font-size: 4rem;
    color: var(--cardinGreen);
    text-align: center;
    padding-top: 100px;
}
.trainingHeader{
    display: flex;
    
    
}
.trainingHeader video{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: blur(20px);
    z-index: -1;
}

.trainingTitles{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: -600px 200px 0 400px;
}
.trainingTitles ul{
    position: relative;
    transform: skewY(-15deg);
    
}
.trainingTitles ul li{
    position: relative;
    width: 300px;
    list-style: none;
    padding: 20px;
    background: var(--malachite);
    z-index: var(--i);
    transition: 0.5s;
}
.trainingTitles ul li:hover::before{
    background: var(--cardinGreen);
}
.trainingTitles ul li:hover::after{
    background: var(--cardinGreen);
}
.trainingTitles ul li:hover{
    background: var(--cardinGreen);
    transform: translateX(-50px);
}
.trainingTitles ul li::before{
    content: "";
    position: absolute;
    background: var(--brightGreen);
    top:0;
    left: -40px;
    width: 40px;
    transform-origin: right;
    height: 100%;
    transform: skewY(45deg);
    transition: 0.5s;
}
.trainingTitles ul li::after{
    content: "";
    position: absolute;
    background: var(--brightGreen);
    top:-40px;
    left: 0;
    width: 100%;
    height: 40px;
    transition: 0.5s;
    transform-origin: bottom;
    transform: skewX(45deg);
    transition: 0.5s;
}
.trainingTitles ul li a{
    text-decoration: none;
    color: var(--cardinGreen);
    letter-spacing: 0.05em;
    transition: 0.5s;
}
.trainingTitles ul li:hover a{
    color: var(--white);
}
.trainingTitles ul li:last-child:after{
    box-shadow: -120px 120px 20px rgba(0, 0, 0, 0.25);
}
.videoBoxContainer{
    position: relative;
    width: 100%;
    height: 100vh;
    margin: 30px 500px 500px 5px;
    
}
.videoBoxContainer .cube{
    position: absolute;
    top:calc(50% - 200px);
    left: calc(50% - 200px);
    width: 200px;
    height: 200px;
    transform-style: preserve-3d;
}
.videoBoxContainer .cube div{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transform: rotateX(-20deg) rotateY(25deg) translate3d(-75px, -50px, 150px);
}

.videoBoxContainer .cube div span{
    position: absolute;
    top:0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    border: 1px solid rgba(0,0,0,0.1);
    background: #ccc;
}
.videoBoxContainer .cube div span:nth-child(1){
    transform: rotateX(0deg) translate3d(0,0,100px);
}
.videoBoxContainer .cube div span:nth-child(2){
    transform: rotateY(90deg) translate3d(0,0,-100px);
}
.videoBoxContainer .cube div span:nth-child(2) video{
    transform: rotateY(180deg);
}
.videoBoxContainer .cube div span:nth-child(3){
    transform: rotateX(90deg) translate3d(0,0,100px);
}
.videoBoxContainer .cube div span video{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: blur(0);
}
.enrollLinks{
    margin-top: -500px;
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}
.enrollLinks article{
    display: flex;
    justify-content: space-around;
    align-items: center;
}